*{
box-sizing: border-box;
}

body {
	width:100%;
	background-size: 100%;
	font-size: 18px;
}

.container{
	margin-top: 60px;
}

.btn {
	margin-top: 15px;
	display: inline-block;
	text-align: center;
	width: 100%;

}

h1 {
	text-align: center;
}